<div class="form">
  <form action="" [formGroup]="expense">
    <div class="row1">
      <div><label for="" class="mb-2">Expense  </label> <span style="color:red;">*</span><br>
        <input type="text" name="" id="" class="adminpt" formControlName="_id" style="display: none;">
        <input type="text" name="" id="" class="adminpt" formControlName="name">

      </div>
      <div><label for="" class="mb-2">Cost</label><span style="color:red;">*</span> <br>
        <input type="number" name="" id="" class="adminpt" formControlName="amount">
    </div>
    </div>
    <div class="row2">
      <div><label for="" class="mb-2">Date</label> <br> <input type="date" class="adminpt" formControlName="date" [max]="getMinimumDate()" (change)="changedate($event)" ></div>
    <!-- <div><label for="" class="mb-2">Date</label> <br> <input type="text" class="adminpt" id="date" formControlName="date" readonly></div> -->
     <div><label for="" class="mb-2">Category </label> <span style="color:red;">*</span><br><input type="test" name="" id="" class="adminpt" formControlName="description"></div>
    </div>
    <div class="formbut">
      <div> <button class="custosave" (click)="editExpense()">Update</button></div>
      <div>  <button class="custocancel"  (click)="cancelUpdate()">Cancel</button>
      </div>
  </div>
  </form>
  </div>
