.trail{
  display: flex;
  width: 100%;
}
.top{
  display: flex;
  margin-top: 10px;
  width: 95%;
  height: 50px;
  justify-content: space-between;
  margin-left: 30px;
}
.repnav{

  cursor: pointer;
    text-decoration: none;
    color: #434343;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.heading{
  color: #1F192F;
  font-family: Lato;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.exportTotal{
  display: flex;
  gap: 10px;
}
.rightop{
  display: flex;
  gap: 40px;
}
.billbut{
  /* padding: 2px 1px; */
  /* padding: 5px; */
  color: #FFF;

font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 500;
  border-radius: 5px;
background: #1070A6;
border: none;
margin-top: 4px;
  width: 131px;
height: 35px;
}
.dropdown-content1 {
  display: none;
  position: absolute;
  background-color: #FFF;
  width: 180px;
height: 83px;
border-radius: 4px;
border: 1px solid #E2DEDE;
padding: 10px 36px;
  /* min-width: 160px; */
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  z-index: 1;
}


.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content1.show {
  display: block;
  margin-top: -5px;
  width: 153px;
  /* margin-left: 148px; */
}
.profile{
  display: flex;
  cursor: pointer;
  gap: 20px;
  margin-top: 5px;
  }

  .proname{
    color:#54657E;
    font-size: 13px;
    font-family: 'Lato';
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFF;
    width: 180px;
  height: 83px;
  border-radius: 4px;
  border: 1px solid #E2DEDE;
  padding: 10px 60px;
    /* min-width: 160px; */
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    z-index: 1;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown-content.show {
    display: block;
    margin-top: 5px;
  }
  .reportdetails{
    margin-top: 20px;
    margin-left: 30px;
    }
    .reportinputs{
      display: flex;
      flex-wrap: wrap;

      /* gap: 1rem; */
      justify-content: space-between;
      width: 98%;
    }
    .repinp1{
      width: 259.223px;
    height: 44.32px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid #E2E2E2;
    padding: 0 10px;
    background: #FFF;
    }
.reportinputs1{
  display: flex;
 width: 95%;
 justify-content: space-between;

 margin-top: 30px;
}
.total{
  display: flex;
gap: 20px;

}
.totalsales{
  outline: none;
  cursor:unset;
  width: 151px;
  height: 38px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #1F4783;
  background: #1F4783;
  color: #FFF;
  padding: 0 10px;
font-family: Lato;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.top20{
  margin: 0;
  /* height: 100vh; */
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding:0px 30px;
}

.export{
  outline: none;
  text-align: center;
  cursor:pointer;
  width: 100px;
  height: 38px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #33C481;
  background: #33C481;
  color: #FFF;
  padding: 0 10px;
font-family: Lato;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
/* .export{
  width: 87.488px;
height: 37.347px;
flex-shrink: 0;
border-radius: 3px;
border: 1px solid #E6E6E6;
color: #FFF;
font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
background: #0080B7;
} */
.custotable{
  margin-left: 30px;

}
.cushead{
  color: #000;
  padding: 5px 15px;
font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.cusbody{
  padding: 5px 15px;
    color: #000;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
}

.custotable{
  max-height: 350px;
  overflow-y: scroll;
}
.picker{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
label{
  color: #3B4B64;
font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.daychart{
  /* padding: 0 10px; */
  margin-left: 10px;
  margin-top: 20px;
  width: 96% !important;
  height: 460px !important;

}
.chartBox {
  width: 98%;
  height: 500px;
  margin-top: 10px;
  /* max-width: 768px; */
  border-radius: 25px;
  border: solid 3px #F4F7FE;
  background: white;
}



@media screen and (max-width: 460px) {
  .heading{
    font-size: 5vw;
    margin-top: 10px;
  }

  .billbut{
    color: #FFF;
    font-family: Lato;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    border-radius: 5px;
    background: #1070A6;
    border: none;
    margin-top: 4px;
    width: 107px;
    height: 35px;
}
.rightop{
  gap: 10px !important;
  width: 210px !important;
}

}
.main-content{
  margin-left: 247px;
}
@media only screen and (max-width: 768px){
  .daychart{
    width: 0;
    height: 500px !important;
  }
  .chartBox{
    height: 535px;
    width:100%;
  }
  .box{
    width: 1055px;
  }
  .colarge{
    height: 689px;
    max-width:700px;
    overflow-x: scroll;
  }
  .dropdown-content1{
    padding: 14px 19px;
}
  .dropdown-content1.show{
    width: 100px;
    margin-left: 0px;
}
.repnav{
  font-size: 12px;
}
.side{
  font-size: 15px;
}
.dropdown-content{
  width: 126px;
}
.dropdown-content.show{
  padding: 9px 32px;
  margin-top: 5px;
}
  .top20{
   padding: 0px !important;
   margin-top: 35px;
  }
  .reportdetails{
    margin-left: 0px;
}
  .top{
    margin-top: 35px;
    margin-left: 0px;
  }
  .head,.rightop{
    display: flex;
    /* align-items: center; */
    justify-content: center !important;
  }

  .main-content{
    margin-left: 0px;
  }
  .page{
    z-index: 8;
  }
  .fix{
    z-index: 9;
  }
  .siden{
    z-index: 10;
  }
  .profile{
    display: flex;
    cursor: pointer;
    gap: 12px;
  }
  .rightop{
    width: 268px;
    gap: 15px;
}
.totalamount{
  margin-top: 11px;
}

}
@media only screen and (max-width: 607px){
  .picker{
    flex-direction: column;
    flex-wrap: nowrap;

}
.reportinputs{
  display: block;
}
.repinp1{
 width: 100%;
}
}
.disabled-btn {
  position: relative;
  opacity: 0.6;
  cursor: not-allowed;
}