<div  mat-dialog-content>
  <div class="popup">
    <form  [formGroup]="product">
    <div class="idimg">
  <div class="proid">
<img src="assets/images/Vector.png" class="productid"  alt="">
<input type="text" formControlName="id" class="id" id="productid" value="{{this.pros}}" readonly>

</div>

<!-- <img src="assets/images/fi_781720.png" alt=""> -->
</div>
<div class="idet">
<div class="f1">
<label for="">Product Name</label><span  style="color:red;">*</span><br>

<input type="text" style="text-transform: capitalize;" formControlName="name" class="inp1" ><br>
<span  style="color:red;" *ngIf="name && name.invalid && name.touched">*Product Name  is required</span><br>
</div>
<div>

<label for="">Category</label><span  style="color:red;">*</span><br>
<input type="text" style="text-transform: capitalize;" formControlName="category" class="inp1" ><br>
<span  style="color:red;" *ngIf="category && category.invalid && category.touched">*Category  is required</span><br>

</div>
</div>
<div class="idet1">
  <div class="f1">
  <label for="">Cost</label><span  style="color:red;">*</span><br>
  <input type="number" formControlName="price" class="inp1"><br>
  <span  style="color:red;" *ngIf="price && price.invalid && price.touched">*Cost is required</span><br>
  </div>
  <div>
    <label for="">Quantity</label><span  style="color:red;">*</span><br>
    <input type="number" formControlName="quantity" class="inp1"><br>
    <span  style="color:red;" *ngIf="quantity && quantity.invalid && quantity.touched">*Quantity is required</span><br>
    </div>

  </div>
  <div class="idet1">
    <div>
      <label for="">Type</label><span  style="color:red;">*</span><br>
      <select name="" id="" formControlName="type" (change)="select($event)" class="inp1">
        <option value="Retail">Retail</option>
        <option value="Salon">Salon</option>
      </select><br>
      <span  style="color:red;" *ngIf="type && type.invalid && type.touched">*Product type  is required</span><br>
    </div>
    <div class="f1">
    <label for="">Description</label><br>

    <input type="text" formControlName="description"  style="text-transform: capitalize;"  class="inp1">
    </div>

    </div>
    <div class="buttons">
      <div><button class="save" (click)="savepro()" type="button"  data-bs-dismiss="modal">Save</button></div>
      <div> <button class="cancel" type="button" (click)=" cancelUpdate()">Cancel</button></div>
      </div>
  </form>
</div>
</div>
