<div class="trail" id="trail" style="height: auto;">

  <!-- <app-sidetest [isOpen]="sideNavOpen" (toggle)="toggleSideNav()"></app-sidetest> -->
  <!-- <app-sidetest [isOpen]="sideNavOpen" *ngIf="this.role==0" (toggle)="toggleSideNav()"></app-sidetest>
  <app-sidenavbar [isOpen]="sideNavOpen" *ngIf="this.role==1" (toggle)="toggleSideNav()"></app-sidenavbar> -->
  <div class="main-content">
    <div class="fix">
    <app-sidetest  *ngIf="this.role==0"  [ngClass]="{'isOpen1': isOpen1}"></app-sidetest>
    <app-sidenavbar  *ngIf="this.role==1"  [ngClass]="{'isOpen1': isOpen1}"></app-sidenavbar>
<div class="top1" id="top1">
  <h1 class="heading">Product Billing</h1>
  <div class="rightop">


    <!-- <i class="fa fa-bell"  aria-hidden="true"></i> -->
    <div class="profile"  (click)="toggleDropdown1()">
     <div class="propic">
       <img src="assets/images/Profile icon.png" alt="">

     </div>
     <h1 class="proname">{{this.profilerole}} </h1>
     <i class="fa fa-caret-down" aria-hidden="true" style="margin-top: 10px;color: #5041BC;"></i>
    </div>
    <div class="dropdown-content1" [ngClass]="{ 'show': isDropdownOpen1 }">
      <div  class="repnav side"> Edit Profile</div><br>
      <div class="repnav side" (click)="logout()"> Log out </div><br>
    </div>
       </div>
      </div>
</div>
  <div class="probilldetail"  id="probilldetail">

    <div class="pror1">
      <div class="smallinp">
      <div> <label for="" class="cusname">Invoice No</label><br>
        <input type="text" class="proinp2 mt-2" value="{{ selectedInvoice1.invoice_no }}" id="invno" readonly></div>
        <div> <label for="" class="cusname">Date</label><br>
          <input type="date" class="proinp2 mt-2" id="date" [(ngModel)]="selectedInvoice1.date" [max]="minDate" (change)="changedate($event)">
            </div>
</div>
<div class="biginp">
        <div><label for="" class="cusname">Phone no.</label><br>
          <input type="text" name="" class="proinp2 mt-2" disabled [(ngModel)]="selectedInvoice1.customer_phone" (ngModelChange)="getdata()" id=""></div>
      <div>
      <label for="" class="cusname">Customer name</label><br>
      <input type="text" name="" class="proinp2 mt-2" id=""  disabled [(ngModel)]="selectedInvoice1.customer_name"></div>

      <div class="member">
      <div style="display: flex;gap: 10px;">
      <div for=""><img src="assets/images/noto_crown.png" alt=""></div><div  style="color: #F19534;

      font-family: Lato;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;">Membership ID</div></div>
        <input type="text" name="" disabled class="proinp2 mt-2" id=""  value="{{selectedInvoice1.membership_no}}"></div>
</div>
</div>
<div class="custotable">
<table style="width: 97%;margin-top: 30px;">
<thead style="border-radius: 20px;width: 97%;
height: 50.775px;border-radius: 20px;
border: 1px solid #EEE;

background: #F0F9FF">
                <tr style="width: 97%;">
                  <th class="cushead">SN</th>
    <th class="cushead">Product name<span style="color:red;">*</span></th>
    <th class="cushead">Category<span style="color:red;">*</span></th>
    <th class="cushead">Staff Name<span style="color:red;">*</span></th>
    <th class="cushead">Quantity</th>
    <th class="cushead">Cost</th>
    <th class="cushead">Discount(%)</th>
    <th class="cushead">Total</th>
       <th class="cushead"></th>


    </tr>

    </thead>


    <div style="background-color: #F4F7FE; height: 8px;width: 100%;">
    <tbody  >
      <tr>
      <td class="t2"></td>
      <td class="t2"></td>
      <td class="t2"></td>
      <td class="t2"></td>
      <td class="t2"></td>
      <td class="t2"></td>
      <td class="t2"></td>

    </tr>
    </tbody>
   </div>
<tbody>
      <tr style="border-radius: 20px;
      height: 50.775px;border: 1px solid #EEE;" *ngFor="let data of selectedInvoice1.product_details; let i = index" class="tr" >

        <td class="cusbody">{{i+1}}</td>
        <td class="cusbody">
          <input type="text" class="form-control" [(ngModel)]="data.Product_name" list="datal" (input)="selectserv(i,$event)">
          <datalist id="datal">
              <option *ngFor="let item of filteredProducts " [ngValue]="item">{{item.Product_name}}</option>
          </datalist>
          <div class="ng-autocomplete" class="selectinp">
          <ng-autocomplete [data]="getpro"
          [searchKeyword]="keyword"
          placeholder="search"
          [(ngModel)]="data.Product_name"
          (selected)="selectevent(i,$event)"
          [customFilter]="customFilter"
          (inputChanged)=" onchangesearch($event)"
          (inputFocused)="onfocused($event)"
          [itemTemplate]="itemTemplate"
          [notFoundTemplate]="notFoundTemplate">

          </ng-autocomplete>
          <ng-template #itemTemplate let-item>
              <a [innerHTML]="item.Product_name"></a>
          </ng-template>
          <ng-template #notFoundTemplate let-notFound>
              <a [innerHTML]="notFound"></a>
          </ng-template>
        </div>
      </td>
      <td class="selcat">

        <select id="country1" #productInput class="tableinp" name="country1" (change)="oncategoryselection(i, productInput.value, productInput.options[productInput.selectedIndex].id,productInput.options[productInput.selectedIndex].getAttribute('data-product-id'))" [(ngModel)]="data.Product_category">
          <option *ngFor="let cat of catArr[i]" [attr.data-product-id]="cat.Product_id" [attr.disabled]="cat.Product_quantity === 0 ? true : null"   [id]="cat.Product_price"  [value]="cat.Product_category">{{ cat.Product_category }}</option>
        </select>



              </td>

<td>

  <select id="country" class="tableinp"  [(ngModel)]="data.staffname" value="{{data.staffname}}" name="country" >
    <option *ngFor="let staff of getstafflist"  [value]="staff.name + ' ' + staff.initial">{{ staff.name }} {{staff.initial}}</option>
  </select>


        </td>
        <td class="cusbody"><input type="number" class="tableinp1 padleft"   [(ngModel)]="data.quantity"  min="1" (input)="Quantity(i, data)"></td>
        <!-- <td class="cusbody" >{{ data.sp}}</td> -->
        <td class="cusbody"><input type="number" class="tableinp2 cusbody" id="service_cost" [(ngModel)]="data.sp" min="0" (ngModelChange)="onProductCostChange(i, data)" ></td>
        <td class="cusbody"><input type="number" name="" class="tableinp1 prodiscount padleft" min="0"  [(ngModel)]="data.discount"  (input)="prodis(i, data)" id=""></td>
        <td class="cusbody">{{data.amount}}</td>
        <td class="cusbody"><a><img src="assets/images/trash-2.png"  (click)="deleteRow(i)" alt=""></a></td>
      </tr>

</tbody>
  </table>
</div>

<div class="pay">

  <button style="width: 100.137px;

  height: 34.442px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #0080B7;border: none;" (click)="addy() ">
  <div class="additem" style="display: flex;gap: 10px;color: #fff;align-items: center;
  text-align: center !important;

  margin-left: 15px;
  font-family: Lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;">
  <div><i class="fa fa-plus-square-o" aria-hidden="true"></i></div><div>Add Item</div></div></button>
<div class="payment" [style.height.px]="showpay ? dynamicHeight : defaultHeight">
<div class="paymentdetail">
<div style="display: flex;justify-content: space-between;">
<div class="payhead">Sub Total</div><div class="money">{{selectedInvoice1.sub_total}}</div></div>

<hr class="hr mt-3 mb-3">

<div style="display: flex;justify-content: space-between;">
<div  class="payhead">GST</div><div  class="support"><input type="number" (input)="changegst()" min="0" [(ngModel)]="gstrate" class="payinp2" >%</div><div class="money">{{selectedInvoice1.gst}}</div>
</div>
<hr class="hr mt-2 mb-3">
<div *ngIf="showpay">
  <div style="display: flex;justify-content: space-between;">
    <div  class="payhead">Cash</div><div  class="support"></div><div class="money"><input type="text" class="cashandgpay" (input)="updateCash()" [(ngModel)]="this.selectedInvoice1.cash_amount" name="" id=""></div>
    </div>
    <hr class="hr mt-2 mb-3">
    <div style="display: flex;justify-content: space-between;">
      <div  class="payhead">UPI</div><div  class="support"></div><div class="money"><input type="text" class="cashandgpay" (input)="updateUPI()" [(ngModel)]="this.selectedInvoice1.UPI_amount"  name="" id=""></div>
      </div>
      <hr class="hr mt-2 mb-3">
      </div>
<div style="display: flex;justify-content: space-between;">
<div style="color: #3B4B64;

font-family: Lato;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;">Grand Total</div><div >{{selectedInvoice1.total}}</div></div>
<hr class="hr1 ms-4 mt-3 mb-3">
<div class="paybuttons">
  <div class="paymoderow">
    <div class="paymodehead">Payment mode : </div>
  <div><select name="" id="" class="paymode" (change)="selectpay($event)" value="{{selectedInvoice1.payment_mode}}" >
    <option value="Card">Card</option>
    <option value="Cash">Cash</option>
    <option value="UPI">UPI</option>
    <option value="cash and upi">Cash and UPI</option>
    </select></div></div>
    <div class="bills">
<div> <button class="paybutton1" (click)="printBill()">Print Bill</button></div>
<div> <button  class="paybutton2" (click)="secondFunction()">Send Bill</button></div>
</div>
</div>
</div>

</div>
</div>
  </div>
  <div id="print-space">
    <div id="internal-print-space">
      <div *ngIf="memoriesaddr">
        <p class="print-main-text">Memories salon</p>
        <p class="print-common-text">5/353, First Floor, near CTS,</p>
        <p class="print-common-text">Thoraipakkam, Chennai - 600097</p>
        <p class="print-common-text">Landmark : Okkiyampet signal</p>
        <p class="print-common-text">Mob : 098842 68868</p>
        <p class="print-common-text">GSTIN - 33ALRPJ6077C1Z0</p>
  </div>
  <div *ngIf="marvelmanapakaddr">
    <p class="print-main-text">Marvel Salon</p>
    <p class="print-common-text">No 1,First Floor,</p>
    <p class="print-common-text">Ramachandra Colony</p>
    <p class="print-common-text">Mugalivakkam Road,</p>
    <p class="print-common-text">Manapakkam, Chennai-600 125.</p>
    <p class="print-common-text">Land mark : Opp to Krishna Court </p>
    <p class="print-common-text">Phone No : 75500 65733</p>
      <p class="print-common-text">GSTIN - 33DAZPP4417G1ZA </p>
  </div>
  <div *ngIf="marvelomraddr">
    <p class="print-main-text">Marvel Salon</p>
    <p class="print-common-text">3/429,First Floor,</p>
    <p class="print-common-text">Mettukuppam Bus Stop Thoraipakkam</p>
    <p class="print-common-text">OMR Food Street, Near by NJK Avenue Old Mahaballipuram Road, SH 49A,</p>
    <p class="print-common-text"> Chennai, Tamil Nadu 600097</p>
  </div>
  <div *ngIf="marvelannanagar">
    <p class="print-main-text">Marvel Salon</p>
    <p class="print-common-text">1, Krishna Flats, 13th St, </p>
    <p class="print-common-text">Z Block, G Block, Annanagar East</p>
    <p class="print-common-text">Chennai, Tamil Nadu 600040</p>
    <p class="print-common-text">Phone No : 73056 37101</p>
  </div>
  <div *ngIf="rainbowmedia">
    <p class="print-main-text">Raibow Media</p>
    <p class="print-common-text">Old.No. 83, New no.112, </p>
    <p class="print-common-text">2nd floor, Anna salai, Manickam lane</p>
    <p class="print-common-text">Guindy, Chennai-600032</p>
    <p class="print-common-text">Phone No : 7305821333</p>
  </div>
  <div *ngIf="dsaloon">
    <p class="print-main-text">D Saloon</p>
    <p class="print-common-text">New tone building, 472/21, Kilpauk Garden Road </p>
    <p class="print-common-text">Aspiran Garden Colony,Kilpauk</p>
    <p class="print-common-text">Chennai, Tamil Nadu 600010</p>
    <!-- <p class="print-common-text">Phone No : 7305821333</p> -->
  </div>
  <div *ngIf="marvelselaiyur">
  
    <p class="print-main-text">Marvel Salon</p>
    <p class="print-common-text">No-19, MC Builders,First Floor, </p>
    <p class="print-common-text">Shirdi Sai Nagar,Thiruvanchery,</p>
    <p class="print-common-text"> Selaiyur, Chennai-600073</p>
    <p class="print-common-text">Phone No:7305699399</p>
  </div>
  <div *ngIf="marvelvelachery">
     
    <p class="print-main-text">Marvel Salon</p>
    <p class="print-common-text"> Plot 29, 5th St, Tansi Nagar,</p>
    <p class="print-common-text">Velachery, Chennai,</p>
    <p class="print-common-text"> Tamil Nadu-600042</p>
    <p class="print-common-text">Phone No:7448884546</p>
    
  </div>
   <div *ngIf="blush">
     
      <p class="print-main-text">Blush Unisex Salon</p>
      <p class="print-common-text"> Shop no 4 29, 1st floor,Esspee tower</p>
      <p class="print-common-text">Dattapada road,Opp.Oberoi sky city</p>
      <p class="print-common-text"> Borivali east,Mumbai-400066</p>
      <p class="print-common-text">Phone No:9920097002</p>
      
    </div>
      <div class="print-data-section">
        <p class="print-common-text">Bill No&emsp;&emsp;&emsp;&nbsp;&nbsp;:&emsp;<span id="invNoSpan">{{ selectedInvoice1.invoice_no }}</span></p>
        <p class="print-common-text">Date&nbsp;&emsp;:&emsp;<span id="dtSpan">{{datepipe.transform(selectedInvoice1.date,'dd-MM-YYYY')}}</span></p>
        <p class="print-common-text">Customer&emsp;&emsp;&nbsp;&nbsp;:&emsp;<span id="custSpan">{{selectedInvoice1.customer_name}}</span></p>
        <p class="print-common-text">Mobile No&emsp;&emsp;:&emsp;<span id="mobSpan">{{selectedInvoice1.customer_phone}}</span></p>
        <p class="print-common-text">Membership No&emsp;&emsp;:&emsp;<span id="mobSpan">{{selectedInvoice1.membership_no}}</span></p>
        <table>
          <thead>
            <tr>
              <th>Product Name</th>
              <th>Category</th>
              <th>Cost</th>
              <th>Quantity</th>
              <th>Amount</th>
            </tr>
          </thead>
          <tbody id="tbody">
            <tr *ngFor="let item of this.selectedInvoice1.product_details">
              <td >{{ item.Product_name }}</td>
              <td >{{ item.Product_category }}</td>
              <td>{{ item.sp }}</td>
              <td>{{ item.quantity }}</td>
              <td>{{ item.amount }}</td>
            </tr>
          </tbody>
        </table>

        <div class="calc">
          <p class=" tga">Total Gross Amount</p><span id="colon">:</span><span id="grossSpan">{{selectedInvoice1.sub_total}}</span></div>
          <!-- <div class="calc"><p class="print-common-text tga">Discount</p><span id="colon">:</span><span id="discountSpan"></span></div> -->
          <div class="calc"><p class="print-common-text tga">GST({{gstrate}}%)  </p><span id="colon">:</span><span id="gstSpan">{{selectedInvoice1.gst}}</span></div>

          <div class="calc" style="margin: 10px 0;"><p class="print-common-text na">Net Amount</p><span id="colon">:</span><span id="netSpan">{{selectedInvoice1.total}}</span></div>
      </div>
      <div class="print-meta-data">
        <div *ngIf="onlinepay">
          <p class="print-common-text">Cash&emsp;:&emsp;<span id="paySpan">{{ this.selectedInvoice1.cash_amount}}</span></p>
          <p class="print-common-text">UPI&emsp;:&emsp;<span id="paySpan">{{this.selectedInvoice1.UPI_amount}}</span></p>
        </div>
        <p class="print-common-text">Pay Mode&emsp;:&emsp;<span id="paySpan">{{selectedInvoice1.payment_mode}}</span></p>
        <p class="print-common-text" id="thank">Thank You</p>
      </div>
    </div>
  </div>
</div>

</div>

