<div class="form">
  <div class="row1">
    <div><label for="" class="mb-2">Choose product</label><span  style="color:red;">*</span> <br>

    <select [(ngModel)]="selectedProduct" class="adminpt" (ngModelChange)="onProductSelected(selectedProduct)">
      <option *ngFor="let product of getpro" [ngValue]="product">{{ product.Product_name }}</option>
    </select>

    </div>
    <div><label for="" class="mb-2">Choose category</label> <span  style="color:red;">*</span><br>
      <select  class="adminpt" [(ngModel)]="selectedcat" (ngModelChange)="catselect($event)">
        <option value="" disabled selected style="color: gray;">Select a Category</option>
        <option  *ngFor="let cato of this.getcat" [ngValue]="cato">{{cato.Product_category}}</option>

    </select></div>

  </div>
  <div class="row2">
  <div><label for="" class="mb-2">Product ID</label><span  style="color:red;">*</span> <br> <input type="text" class="adminpt"  [(ngModel)]="productid" ></div>
   <div><label for="" class="mb-2">Quantity</label> <span  style="color:red;">*</span><br><input type="number" name="" min="0" id="" (input)="quantity($event)" class="adminpt" [(ngModel)]="prodquantity"></div>
  </div>
  <div class="formbut mt-5">
    <div> <button class="custosave" (click)="addinvent()">Save</button></div>
    <div>  <button class="custocancel"  (click)="cancelUpdate()">Cancel</button>
    </div>
</div>

