<div class="form">
  <form [formGroup]="customer">
    <input type="text" name="" formControlName="_id" id="" style="display: none;">
  <div class="formr1">
    <div><img src="assets/images/noto_crown.png" alt=""> <input type="text" name="" formControlName="cusmemno" class="input1" style="padding: 0 41px;"></div>

   <div><img src="assets/images/Vector.png" alt="">  <input type="text" name="" formControlName="cusid" class="input1" id="cusid" readonly></div>
   <div><img src="assets/images/Vector (1).png" alt=""> <input type="text" name="" class="input1" formControlName="date" style="padding: 0 45px;"></div>
  </div>
  <div class="formr2">
   <div><label>Name</label><span  style="color:red;">*</span><br><input type="text" formControlName="cusname" style="text-transform: capitalize;" class="input2"></div>
   <div><label>Phone No</label><span  style="color:red;">*</span><br><input type="text" formControlName="cusphno" pattern="[0-9]{10}" maxlength="10" class="input2"></div>
  </div>
  <div class="formr3 mt-3">
    <!-- <div><label>Gender</label><br><input type="text" [(ngModel)]="cusgender" class="input2"></div> -->
    <div><label>Gender</label><span  style="color:red;">*</span><br><select class="input2" formControlName="cusgender" (click)="select($event)">
      <option value="Male">Male</option>
      <option value="Female">Female</option>
      <!-- <option value="Other">Other</option> -->
    </select></div>
    <div><label>Location</label><br><input type="text" formControlName="cusaddress" style="text-transform: capitalize;" class="input2"></div>
   </div>
   <div class="formr4 mt-3">
    <div><label>Email ID</label><br><input type="text" class="input2" formControlName="cusmail"></div>
    <div><label>Instagram ID</label><br><input type="text" class="input2" formControlName="cusinsta"></div>
   </div>
   <div class="formbut">
   <div> <button class="custosave" (click)="custoupdate()">Update</button>
  </div>
   <div>  <button class="custocancel" (click)="cancelUpdate()">Cancel</button>
   </div>
</div>
</form>
</div>
